###Introduction to Pandas

In [4]:
!pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
print("Introduction to Pandas")

Introduction to Pandas

In [16]:
import pandas as pd

###Key Data Structure in Pandas
* Series (1 Dimensional)
* Data Frame (Famous)(2 Dimensional)

In [ ]:
s = pd.Series([1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'])

In [ ]:
s

In [40]:
df = pd.DataFrame({"names": ["Shayan", "Ali", "Tayyab"], "marks": [100, 40, 70]})  #, index = ["a", "b", "c"])

In [42]:
df

    names  marks
0  Shayan    100
1     Ali     40
2  Tayyab     70